.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    width: 80%;
    height: 90%;
    background-color: white;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 30px;
    border-radius: 10px;
    position: relative;
}

.modal-icon {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 50px;
    color: crimson;
    cursor: pointer;
}

.modal-content-img {
    width: 40%;
    height: 100%;
}

.modal-content-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}