.header {
    height: 250px;
    width: 100%;
    background-color: var(--primary-color);
}

/* HEADER TOP */

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20%;
    padding: 0 30px;
    border-bottom: 1px solid var(--main-color);
}

.header-top-menu {
    display: none;
}

.header-top-phone,
.header-top-text,
.header-top-link {
    font-size: 27px;
    font-weight: 500;
    color: var(--main-color);

}

.header-top-phone i,
.header-top-link i {
    margin-right: 4px;
}

/* Header Middle */
.header-middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 50%;
}

.header-middle-logo {
    color: white;
    font-size: 20px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.header-middle-logo i {
    margin: 0 6px;
    font-size: 40px;
}

.header-middle-search-box {
    width: 700px;
    background-color: white;
    height: 60px;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
}

.header-middle-search-input {
    width: 100%;
    height: 100%;
    border: none;
    padding-left: 25px;
    font-size: 24px;
}

.header-middle-search-box i.bi-search {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    font-size: 40px;
    color: gray;
}

.header-middle-cart-wrapper i.bi-cart2 {
    font-size: 44px;
    color: white;
    cursor: pointer;
}

/* Navbar */
.navbar {
    background-color: var(--main-color);
    box-shadow: 0 0 1px 1px gray;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-links {
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar-link {
    padding: 0 20px;
    font-size: 21px;
    font-weight: 600;
    color: #525452;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-link:hover {
    background-color: #dbe9f8;
    color: #1976d2;
}